[submodule "Phoenix | wM1VJQcmP6ufRf3JmD7L"]
	path = Phoenix | wM1VJQcmP6ufRf3JmD7L
	url = https://github.com/DarkPhoenix2704/MapBoxApi
[submodule "Mathisi | gjKCWcwuWZS99vfnjrjc"]
	path = Mathisi | gjKCWcwuWZS99vfnjrjc
	url = https://github.com/Aswanth-appu/Saturday-Hack-Club
[submodule "EnthinoVendiThilakkunnaSambar | gU5HZlcaNr9wtisanSWQ"]
	path = EnthinoVendiThilakkunnaSambar | gU5HZlcaNr9wtisanSWQ
	url = https://github.com/nasw1h/hacknight-mapbox-api
[submodule "GOAT | W7qoSZZMDzmjDYQmsWux"]
	path = GOAT | W7qoSZZMDzmjDYQmsWux
	url = https://github.com/twilighty-abhi/Wayfarer
[submodule "Unicorn | XkYtlszbRIBaR9fzo5Jz"]
	path = Unicorn | XkYtlszbRIBaR9fzo5Jz
	url = https://github.com/devpenzil/th-mapbox-hacknight
