[submodule "Phoenix | wM1VJQcmP6ufRf3JmD7L"]
	path = Phoenix | wM1VJQcmP6ufRf3JmD7L
	url = https://github.com/DarkPhoenix2704/MapBoxApi
[submodule "Mathisi | gjKCWcwuWZS99vfnjrjc"]
	path = Mathisi | gjKCWcwuWZS99vfnjrjc
	url = https://github.com/Aswanth-appu/Saturday-Hack-Club
[submodule "EnthinoVendiThilakkunnaSambar | gU5HZlcaNr9wtisanSWQ"]
	path = EnthinoVendiThilakkunnaSambar | gU5HZlcaNr9wtisanSWQ
	url = https://github.com/nasw1h/hacknight-mapbox-api
[submodule "GOAT | W7qoSZZMDzmjDYQmsWux"]
	path = GOAT | W7qoSZZMDzmjDYQmsWux
	url = https://github.com/twilighty-abhi/Wayfarer
[submodule "Unicorn | XkYtlszbRIBaR9fzo5Jz"]
	path = Unicorn | XkYtlszbRIBaR9fzo5Jz
	url = https://github.com/devpenzil/th-mapbox-hacknight
[submodule "firstyrs | gwt1Q6ql8cuTNtjw3w2c"]
	path = firstyrs | gwt1Q6ql8cuTNtjw3w2c
	url = https://github.com/sherilmariam/sathacknyt21.git
[submodule "Mandrake | Cc0ZbpThNGSdyLZ2ocef"]
	path = Mandrake | Cc0ZbpThNGSdyLZ2ocef
	url = https://github.com/adhilameenet/SHN-mapbox-API
[submodule "Sparrow | UgRH4VO5oNDQrbMIx4Kg"]
	path = Sparrow | UgRH4VO5oNDQrbMIx4Kg
	url = https://github.com/Rithingithub/mapbox-API
[submodule "Yelp | ZdlOPX6Oz1JIWYE4k2e7"]
	path = Yelp | ZdlOPX6Oz1JIWYE4k2e7
	url = https://github.com/sreehari2003/YelpCamp-frontend
[submodule "Xtrantos | IRfUYkaSQpKudBvs1TPX"]
	path = Xtrantos | IRfUYkaSQpKudBvs1TPX
	url = https://github.com/anima-regem/Saturday-Night-Hack
[submodule "Error401 | wmRMX0zq2GZT0P7C8hH7"]
	path = Error401 | wmRMX0zq2GZT0P7C8hH7
	url = https://github.com/dinu24/Mapbox_API
[submodule "Error401 | boIcmmyRu9B7nGHW0Aq8"]
	path = Error401 | boIcmmyRu9B7nGHW0Aq8
	url = https://github.com/dinu24/Mapbox_API
